html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0A192F;
    color: #8892B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section {
    width: 90%;
    max-width: 600px; /* Adjust for readability */
    margin: 20px 0;
    padding: 20px;
    background-color: #112240; /* Harmonize background colors */
    color: #CCD6F6;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Enhance visibility */
    text-align: center; /* Centralize text */
}

h1, p {
    margin: 10px 0;
}

#canvasContainer, #inputContainer, #suggestionBox {
    background-color: #020C1B; /* Slightly different background for distinction */
    box-shadow: none; /* Remove shadow for a cleaner look */
}

#canvasContainer {
    height: 50vh; /* Maintain aspect ratio */
}

input, button {
    width: calc(100% - 20px); /* Adjust width considering padding */
    padding: 12px; /* Increase touch target size */
    margin: 10px 0; /* More spacing */
    border: 1px solid #64FFDA;
    border-radius: 5px;
}

button {
    background-color: #64FFDA;
    color: #020C1B;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 15px 0;
    background-color: #112240;
    color: #64FFDA;
    text-align: center;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h1, p {
        font-size: 16px; /* Increase base font size for readability */
    }
}

.album-art {
    width: 24px; /* Adjust for visibility */
    height: 24px;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    .album-art {
        width: 40px; /* Larger album art for larger screens */
        height: 40px;
    }
}
