html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0A192F;
    color: #8892B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section {
    width: 90%;
    max-width: 600px; /* Ensures readability across devices */
    margin: 20px 0;
    padding: 20px;
    background-color: #112240;
    color: #CCD6F6;
    border-radius: 5px;
    text-align: center; /* Centralize text content */
}

h1, p {
    margin: 10px 0;
}

#canvasContainer {
    width: 80%; /* Reduce width to decrease overall size */
    max-width: 700px; /* Adjust max width for larger screens */
    height: 40vh; /* Decrease height to make more space for other elements */
    margin: 20px 0;
    background-color: #020C1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    width: calc(100% - 24px); /* Adjust for padding */
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #64FFDA;
    border-radius: 5px;
}

button {
    background-color: #64FFDA;
    color: #020C1B;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 15px 0;
    background-color: #112240;
    color: #64FFDA;
    text-align: center;
}

/* Responsive adjustments for better visibility and interaction */
@media screen and (max-width: 768px) {
    h1, p {
        font-size: 16px; /* Improve readability on small screens */
    }

    #canvasContainer {
        height: 30vh; /* Further reduce height on mobile for more space */
    }

    input, button {
        padding: 15px; /* Larger touch targets for mobile users */
    }
}

.album-art {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    .album-art {
        width: 40px; /* Larger size for desktops */
        height: 40px;
    }
}
